@media screen and (max-width:480px) {
    header{
        padding-top: 15px;
    }
    .hide , hr{
        display: none;
    }
    .store {
        display: block;
    }
    .menubar-container{
        justify-content: space-between;
    }
    .logo{
        flex-grow: 0;
    }
    .banner-container{
        grid-template-columns: 1fr;
    }
    .banner-intru{
        order: 1;
        margin-top: 40px;
        text-align: center;
    }
    .banner-title {
        font-size: 2.8rem;
        line-height: normal;
    }
    .img-items{
        gap: 30px;
    }
    .img-items > img {
        max-width: 15%;
    }
    main{
        max-width: 88%;
    }
    .card{
        width: 91%;
    }
    .popular-card-container{
        grid-template-columns: 1fr;
    }
    .feature-container {
        flex-direction: column-reverse;
        gap: 30px;
    }
    .feature-contain , .feature-img{
        max-width: 100%;
    }
    .feature-title{
        font-size: 2.4rem;
        line-height: normal;
        margin-bottom: 15px;
    }
    .feature-description{
        font-size: 1.5rem;
        line-height: normal;
    }
    .btn-feature{
        margin-top: 65px;
    }
    .feature-contain{
        text-align: center;
    }
    .footer-title{
        font-size: 2.2rem;
    }
}
@media screen and (min-width:480px) and (max-width:780px) {
    header{
        padding-top: 25px;
    }
    .hide ,hr{
        display: none;
    }
    .store {
        display: block;
    }
    .menubar-container{
        justify-content: space-between;
    }
    .logo{
        flex-grow: 0;
    }
    .banner-title {
        font-size: 3.2rem;
        line-height: normal;
    }
    .img-items{
        gap: 30px;
    }
    main{
        max-width: 88%;
    }
    .card{
        width: 94%;
    }
    .popular-card-container{
        grid-template-columns: repeat(2,1fr);
    }
    .feature-container {
        flex-direction: column;
        gap: 30px;
    }
    .feature-img{
        max-width: 100%;
    }
    .feature-contain{
        max-width: 90%;
    }
    .feature-title{
        font-size: 2.4rem;
        line-height: normal;
        margin-bottom: 15px;
    }
    .feature-description{
        font-size: 1.5rem;
        line-height: normal;
    }
    .btn-feature{
        margin-top: 65px;
    }
    .feature-contain{
        text-align: center;
    }
}
