@media screen and (max-width:480px) {
    header{
        padding-top: 33px;
    }
    .hide{
        display: none;
    }
    .store {
        display: block;
    }
    .menubar-container{
        justify-content: space-between;
    }
    .logo{
        flex-grow: 0;
    }
    .banner-container{
        grid-template-columns: 1fr;
    }
    .banner-intru{
        order: 1;
        margin-top: 40px;
        text-align: center;
    }
    .banner-title {
        font-size: 2.8rem;
        line-height: normal;
    }
}
@media screen and (min-width:480px) and (max-width:780px) {
    header{
        padding-top: 33px;
    }
    .hide{
        display: none;
    }
    .store {
        display: block;
    }
    .menubar-container{
        justify-content: space-between;
    }
    .logo{
        flex-grow: 0;
    }
    .banner-title {
        font-size: 3.2rem;
        line-height: normal;
    }
}